@import url('./variables.css') layer(default);
@import url('./typography.css') layer(default);
@import url('./acessibitily.css') layer(default);
@import url('./button.css') layer(default);
@import url('./avatar.css') layer(default);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-interface-light);
}

.container {
  width: 92%;
  margin: 0 auto;
}

.header {
  padding: 16px 0;
}

.header > div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-task-form {
  margin-top: var(--spacing-large);
}

.add-task {
  width: 80%;
  padding: 8px 16px;
  line-height: 2;
  border: 1px solid var(--color-text-dark);
  border-radius: var(--spacing-xsmall);
  font-size: 16px;
}

.task-list { 
  min-height: calc(100vh - 233px);
  margin-top: 40px;
  padding-top: 32px;
  border-top: 1px solid var(--color-text-dark);
  border-top-right-radius: 40px;
  background-color: var(--color-common-light);
}

.task-list-item {
  display: flex;
  align-items: center;
  padding: 24px 0 16px 0;
  gap: 16px;
}

.task-list-item  + .task-list-item {
  padding-top: 0;
}

.task-list-item input[type="checkbox"] {
  flex-grow: 0;
  accent-color: var(--color-text-dark);
}
.task-list-item p {
  flex-grow: 1;
}
.task-list-item button {
  flex-grow: 0;
}

.task-list-item p.done {
  text-decoration: line-through;
}

