* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;
  
  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;
  
  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;
  
  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-light);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

.header-item {
  display: flex;
  justify-content: space-between;
}

.title {
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-brand-primary);
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.button {
  border: 10px;
  background-color: transparent;
  cursor: pointer; 
}

.tarefas-main{
  margin-top: var(--spacing-default);
  border-top: 1px solid;
  border-top-right-radius: var(--spacing-medium);
  border-color: var(--color-text-light);
  padding-bottom: 100vh;
  background-color:var(--color-common-light);
}
.tarefas{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: var(--spacing-medium);
  display: flex;
}


.edit{
  border: 10px;
  background-color: transparent;
  cursor: pointer; 
  color: var(--color-interface-dark);
  
  padding-right: 15px;
  font-family: "Open Sans";
  font-weight: 300;
}

.del{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-interface-dark);
}

.descricao-tarefas{
  font-size: 16px;
  align-items: center;
  margin-right: auto;
  padding-left: var(--spacing-medium);
}


#caixinha{
  width: 15px;
  height: 15px;
  margin-top: var(--spacing-xsmall);
  margin-left: 20px;
  accent-color: var(--color-text-dark);

}
#caixinha:checked ~ .descricao-tarefas{
  text-decoration: line-through;
}

.form-task {
  margin-top: var(--spacing-large);
}

.form-task-label {
  font-weight: 600;
  font-weight: bold;
  color:var(--color-text-dark)
}

.form-task-input {
width: 200px;
height: 40px;
border-radius: 5px;
border-color: var(--color-text-light);
}

.form-task-button {
  border-radius: 3px;
  background-color: var(--color-brand-secondary);
  color: var(--color-interface-light);
  width: 65px;
  height: 40px;
  margin-left: 10px;
}

.input-and-button{
  display: flex;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

@media(max-width: 480px){

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .subtitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--spacing-medium);
    color: var(--color-brand-primary);
  }

  .form-task-button {
    border-radius: 3px;
    background-color: var(--color-brand-secondary);
    color: var(--color-interface-light);
    width: 65px;
    height: 40px;
    margin-left: 10px;
  }

  #caixinha{
    width: var(--spacing-default);
    height: var(--spacing-default);
    margin-left: 0;
  }

  .descricao-tarefas{
    align-items: center;
    margin-right: auto;
    padding-left: var(--spacing-medium)
  }

}

@media(min-width: 768px){

  .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  #menu{
    font-size: var(--spacing-large);
  }
  
  .subtitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--spacing-medium);
    color: var(--color-brand-primary);
  }
  
  .form-task-button {
    border-radius: 3px;
    background-color: var(--color-brand-secondary);
    color: var(--color-interface-light);
    width: 65px;
    height: 40px;
    margin-left: 10px;
  }
}
#caixinha{
  width: var(--spacing-default);
  height: var(--spacing-default);
  margin-left: 24px;
}

.descricao-tarefas{
  font-size: var(--spacing-default);
  align-items: center;
  margin-right: auto;
  padding-left: var(--spacing-medium)
}

.edit-del{
 margin-right: var(--spacing-medium);
}
  
@media(min-width: 2560px){

  .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  
  #menu{
    font-size: var(--spacing-xlarge);
  }
  
  .subtitle {
    line-height: 1.2;
    font-weight: 700;
    font-size: var(--spacing-large);
    color: var(--color-brand-primary);
  }
  
  .form-task-button {
    border-radius: 3px;
    background-color: var(--color-brand-secondary);
    color: var(--color-interface-light);
    width: 130px;
    height: 50px;
    margin-left: 10px;
  }

#caixinha{
  width: var(--spacing-large);
  height: var(--spacing-large);
  margin-left: 80px;
  margin-top: 10px;
}

.descricao-tarefas{
  font-size: var(--spacing-large);
  align-items: center;
  margin-right: auto;
  padding-left: var(--spacing-medium)
}

.edit-del{
 margin-right: 80px;

}

#edit-del{
  font-size: var(--spacing-xlarge)
}

.form-task-label {
  font-weight: 600;
  font-weight: bold;
  font-size: var(--spacing-large);
  color:var(--color-text-dark)
}
.title {
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--color-text-light);
  font-size: var(--spacing-large);
}

.form-task-input {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border-color: var(--color-text-light);
  }


}